[submodule "submodule/glad"]
	path = submodule/glad
	url = git@github.com:IDKGameEngine/glad.git
[submodule "submodule/imgui"]
	path = submodule/imgui
	url = git@github.com:IDKGameEngine/imgui.git
[submodule "submodule/glm"]
	path = submodule/glm
	url = git@github.com:IDKGameEngine/glm.git
[submodule "submodule/JoltPhysics"]
	path = submodule/JoltPhysics
	url = https://github.com/jrouwe/JoltPhysics.git
[submodule "submodule/assimp"]
	path = submodule/assimp
	url = https://github.com/assimp/assimp.git
